* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: terror;
    src: url(../font/Terrorplate.ttf);
}

body {
    background-color: rgba(0, 0, 0, 0.562);
}

header {
    background-color: rgb(0, 0, 0) ;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
}

header > h1 {
    color: red;
    text-align: center;
    font-family: terror;
}

header > p {
    color: red;
    text-align: center;
    font-family: terror;
}

ul {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.733);
}

li {
    margin: 2px 0px 2px 30px;
    display: inline;
    text-align: center;
    color: white;
}

main {
    padding: 15px;
    max-width: 800px;
    height: 1480px;
    background-color: rgb(0, 0, 0);
    display: block;
    margin: auto;
}

main > article > h1 {
    color: red;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

li:hover {
    background-color: black;
    color:red;
}

main > article > p {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

#bode {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#ataque {
    display: inline;
    color: red;
    opacity: 0.4;
}

#ataquee {
    color: red;
    opacity: 0.4;
    float: right;
}

#segundaimg {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#ele {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 18px;

}

#dibverm {
    display: block;
    margin: auto;
}

.chegue {
    color: red;
    text-align: center;
    margin-left: 15px;
}

.voltar {
    color: red;
    text-decoration: none;
}

.voltar:hover {
    text-decoration: underline;
}